* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, "Times New Romans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 25%;
    padding-right: 25%;
}

/* HEADER START */
header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #1f2937;
}

.logo {
    font-weight: 900;
    color: white;
    font-size: 24px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-li {
}

.nav-a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

/* HEADER END */

/* HERO SECTION START */
.container.hero {
    background-color: #1f2937;
}

.hero {
    display: flex;

    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 40px;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.p-second {
    font-size: 18px;
}

.h1-title {
    font-size: 48px;
}

.hero-right {
    overflow: hidden;
    flex: 1;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.signup-button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    border: none;
}
/* HERO SECTION END */
