* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, "Times New Romans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 20%;
    padding-right: 20%;
}

/* HEADER START */
header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #1f2937;
}

.logo {
    font-weight: 900;
    color: white;
    font-size: 24px;
}

.nav-ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-li {
}

.nav-a {
    text-decoration: none;
    font-size: 18px;
    color: #f9faf8;
}

/* HEADER END */

/* HERO SECTION START */
.container.hero {
    background-color: #1f2937;
}

.hero {
    display: flex;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 40px;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.p-second {
    font-size: 18px;
}

.h1-title {
    font-size: 48px;
}

.hero-right {
    overflow: hidden;
    flex: 1;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.signup-button {
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    border: none;
}
/* HERO SECTION END */

/* INFO SECTION START */
.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.h2-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h2-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-img-frame {
    border: 2px solid;
    border-color: #3882f6;
    border-radius: 10px;
    overflow: hidden;
}

.info-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.info-para {
    text-align: center;
    color: #7c7c7c;
}
/* INFO SECTION END */

/* QUOTES START */
.container.quotes {
    background-color: #e5e7eb;
}
.quotes-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quotes-para {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.quotes-credit {
    display: flex;
    justify-content: flex-end;
}
/* QUOTES END */

/* CTA START */
.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.cta-wrapper {
    background-color: #3882f6;
    padding: 40px 90px;
    width: 100%;
    height: auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
}

.cta-para {
    font-weight: 300;
}

.cta-button {
    border: 2px solid white;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
    background-color: #3882f6;
    width: 100px;
    height: auto;
}

/* CTA END */

/* FOOTER START */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: #1f2937;
    color: white;
}
/* FOOTER END */
